


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><title>Quiz</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel ='stylesheet' media='only screen and (min-width:530px) and (min-device-width:481px)' href='/stylesheets/wide.css' />
  <link rel ='stylesheet' media='only screen and (max-width:480px)' href='/stylesheets/smartphone.css' />
  <link rel ='stylesheet'  href='/stylesheets/search.css' />
  <link rel ='stylesheet'  href='/stylesheets/rank.css' />  
</head>
<body>
<a class="a2a_dd" style="    font: 14px 'Karla', 'Lucida Grande', Helvetica, Arial, sans-serif;" href="http://www.addtoany.com/share_save">
    <img id="social" src="/images/share.png"  border="0" 

alt="Share"/>
</a>

<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>

  <div id="page-wrap">
    <header class="main" id="h1">

      <%if(!session.user){%>
      <span class="right">  
       <a href="/user"  data-title="Sign up"><img class="arriba" src="/images/adduser.png"></a>
       <a href="/login"  data-title="Login"><img class="arriba" src="/images/session.png"></a>
     </span>
     <%}else{%>
     <span class="right">

      <a href="/user/<%=session.user.id%>" data-title="Perfil"> <%= session.user.username  %>  </a> 
      <a href="/user/<%=session.user.id%>/edit" data-title="Settings"><img class="arriba" src="/images/settings.png" ></a>  
      <a href="/logout"  data-title="Logout"> <img class="arriba" src="/images/session.png"></a>
    </span>
    <%}%>
    <h2 ><img id="cabecera" src="/images/OTHER.png"></h2>
  </header> 

  <nav class = "main" id="n1" role="navigation">
    <span id="bb"><a id="bar" title="Página principal" href="/">Inicio</a></span>
    <span id="bb"><a id="bar" title="Comienza a jugar" href ="/quizes">Preguntas</a></span>
  <%if(session.user){%>
    <span id="bb"><a id="bar" title="Preguntas creadas por ti" href="/user/<%=session.user.id%>/quizes">Mis preguntas</a></span> 
    <span id="bb"><a id="bar" title="Preguntas acertadas" href="/user/<%=session.user.id%>/superados">Aciertos</a></span> 
    <span id="bb"><a id="bar" title="Tus preguntas favoritas" href="/user/<%=session.user.id%>/favourites">Favoritos</a></span> 
    <span id="bb"><a id="bar" title="¿Quién más está jugando?" href="/users">Ranking</a></span>
  <%}%>
    <span id="bb"><a id="bar" title="Estadísticas sobre el juego" href="/quizes/statistics">Estadísticas</a></span> 
    <span id="bb"><a id="bar" title="Acerca del autor" href="/author">Créditos</a></span>         




  </nav>

  <p></p>
</footer>
</nav>  

<section class="main" id="s1">
  <% if (errors.length) { %>
  <span id='ErrorMsgs'>
    Corregir errores:<br/>
    <% for (var i in errors) { %>
    <span> <%= errors[i].message %> </span><br/>
    <% } %>
  </span>
  <% } %>


  <div><%- body %></div>
</section>
<footer class="main" id="f1">
  <span><a class="abajo" href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a></span>
  <span><a class="abajo" href="https://github.com/sonsoleslp/ProyectoQuiz">GITHUB</a></span>
  <span><firma>by Sonsoles López Pernas</firma></span>


</footer>

</div> <% if(session.visitas<1000) {var vis=("00" + session.visitas).slice (-3);} else {var vis=session.visitas;}%>
<span class="visit"><strong> <%= vis %></strong></span>
</body>
</html>




