<h2>Ranking</h2>

<div class="users" style="display:block;">

	<block class="rank">
		<img id="pod" src="/images/podium.png">
		<block class="pos" data-title= "The winner" id="el1"><%if(users[0]){ %><%=users[0].username%><%}else{%> - - - - <%}%> </block>
		<block class="pos" data-title= "Second" id="el2"><%if(users[1]){ %><%=users[1].username%><%}else{%> - - - - <%}%> </block>
		<block class="pos" data-title= "Third" id="el3"><%if(users[2]){ %><%=users[2].username%><%}else{%> - - - - <%}%> </block>
	</block>
	<block class="userstable">	
		<table align="center" id="usuarios">
			<tr>
				<th></th><th>Username</th><th class="puntuacion" >Score</th>
			</tr> <% for (i=0; i < users.length; i++) { %> 
			
			<tr>
				<td class="columnafoto">
					<a href="user/<%=users[i].id%>">
						<%if(users[i].image){%>
						<%- cloudinary.image(users[i].image, { id:"prof", align:"center" })%>
						<% } else {%>
						<%- cloudinary.image(kudb5ucvig8c7xypfh6w, { id:"prof", align:"center" })%>

						<%}%>

					</a>
				</td>
				<td >
					<%=users[i].username%> </td> <td class="puntuacion"> <%=users[i].score %>  
				</td>
			</tr> <%}%>
		</table>
	</block>
		
</div>
