<h2><%=user.username%></h2>
<%if(user.image){%>
<%- cloudinary.image(user.image, { id:"prof2" })%>
<p>
<% } else {%>
<%- cloudinary.image(kudb5ucvig8c7xypfh6w, { id:"prof2" })%>
<p>
<%}%>

<p></p>
<p><%=user.description%></p>
<p><a  id ="pregu" href="/user/<%=user.id%>/favourites">Ver favoritos</a></p>
<br>
     <%if(session.user){%>
      
     
  </block>

  <link rel ='stylesheet'  href='/stylesheets/stats.css' />
  <br>
    <h3>Aciertos: <%=superadas%> / <%=preguntas%> </h3>

    <progress class="skill-1" max="100" value="<%= (superadas/preguntas * 100) %>">

      <strong> </strong>
    </progress>

 <%}%>

