


<label for="preg" class="rem">Estadísticas:</label><br>
<p><strong> Número de preguntas totales: </strong>  <%= preguntas %></p>
<p><strong> Número de comentarios totales: </strong> <%= comentarios %></p>
<p><strong> Número medio de comentarios por pregunta: </strong> <%= media %></p>
<p><strong> Número de preguntas sin comentarios: </strong> <%= sin %></p>
<p><strong> Número de preguntas con comentarios: </strong> <%=con %></p>