
<h2>Estadísticas:</h2>
<div align="center" > 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Preguntas', 'Nº'],
          ['Sin comentarios',     <%= sin %>],
          ['Con comentarios',     <%= con %>],
        ]);

        var options = {
          title: 'Preguntas',
          pieHole: 0.4,
          fontName: 'Karla',
          fontsize: 10,
          slices: {
            0: { color: '#6e6e6e' },
            1: { color: '#424242' }
          },
          backgroundColor: 'transparent',
          chartArea: {'width': '100%', 'height': '80%'},


        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>

    <block id="donutchart" align="center">
      
    </block>
   <block id="lista" align="center" >
    <br><br><br><br>
      <br><strong  id="fr" margin="20";> Número de preguntas totales: </strong>  <%= preguntas %></br>
      <br><strong  id="fr" margin="20";> Número de comentarios totales: </strong> <%= comentarios %></br>
      <br><strong  id="fr" margin="20";> Número medio de comentarios por pregunta: </strong> <%= media.toFixed(2) %></br>
      <!--<p><strong> Número de preguntas sin comentarios: </strong> <%= sin %></p>-->
      <!--<p><strong> Número de preguntas con comentarios: </strong> <%=con %></p>-->
       <%if(session.user){%>
       <!--<br><strong  id="fr" margin="20";> Número de preguntas superadas: </strong> <%= superadas %></br>-->
     
  </block>

  <link rel ='stylesheet'  href='/stylesheets/stats.css' />

    <h3>Aciertos: <%=superadas%> / <%=preguntas%> </h3>

    <progress class="skill-1" max="100" value="<%= (superadas/preguntas * 100) %>">

      <strong> </strong>
    </progress>

 <%}%>



</div>