
 <%if (quiz.image){%>    
 <p><img class="quiz_img" style="max-height:300px;" src="/media/<%= quiz.image %>"></p>
 <%}%>
<form method ="get" action="/quizes/<%= quiz.id %>/answer">
		<p id="pregunta_title">Pregunta:    <%=quiz.pregunta%> </p>
<nobr>		<input class="ress" type="text" name="respuesta" value="Respuesta"/>
		<input id = "sss" type = "submit" value="Enviar"> 
		
</form>


<% if(session.user){
	if(quiz.isFav) {%>
	<form method="post" id="borrar" action="/user/<%= session.user.id %>/favourites/<%= quiz.id %>?_method=delete">
	<input type ="image" src="/images/fav.png" onClick='return confirm(" ¿Eliminar esta pregunta de favoritos? ");'>
	</form>	
	<% }else{ %>
	<form method="post" id="borrar" action="/user/<%= session.user.id %>/favourites/<%= quiz.id %>?_method=put">
	<input type ="image" src="/images/nofav.png" onClick='return confirm("¿Añadir esta pregunta a favoritos? ");'>
	</form>
<%}%>
</nobr>	

<br>
<%if(quiz.won){%>
	<img src="/images/trofeorosa.png">

<%}}%>
</p>



<p><a  href="/quizes/<%=quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios: </strong></p>
<%for (index in quiz.Comments){ %>
	<% if(quiz.Comments[index].publicado ){%>
	<p>  <nombre><%=quiz.Comments[index].autor%>:  </nombre> <%= quiz.Comments[index].texto %></p>
	<% } else if (session.user && (session.user.isAdmin || (session.user && quiz.UserId === session.user.id))){ %>
	<p> <nombre> <%=quiz.Comments[index].autor%>:  </nombre> <%= quiz.Comments[index].texto %></p>
		
			<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish"> <button>Publicar</button></a>
			
		
		</p>
	<%}%>
<%}%>